@charset "utf-8";

/* Spoqa Han Sans Neo 100, 300, 400, 500, 700 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common */
:root{
    --color-highlight:#21BF48;
    --color-text:#CBD5DF;
    --color-bg:#343F50;
    --color-border:#1A202C;
    --color-disabled:#4A5568;
    --color-76:#767676;
    --color-c4:#C4C4C4;
    --color-positive:#439AFF;
    --color-negative:#EB5757;
}
*{padding:0;margin:0;box-sizing: border-box;font-family: 'SpoqaHanSansNeo-Regular';}
li{list-style: none;}
a{color: inherit;text-decoration: none;}
h1,h2,h3,h4,h5,h6,em,strong{font-weight: normal;}
button{cursor: pointer;}
.clearfix{content: "";display:block;clear: both;}
img{max-width: 100%;}

.wd1280{width:1280px;margin:0 auto;}
.ddd{width:100%;height:500px;font-size:50px;color:white;background: gray;display:flex;align-items: center;justify-content: center;}

/* custom --------------------------*/
body{min-width: 1450px;;}
#contents{padding:90px 0 0;max-width: 1920px;margin:0 auto;}
article > h2,
section > h2{opacity: 0;position: absolute;left:-99999px;z-index: -999;}

.btnColorH{background: var(--color-highlight);color:white;border-radius: 5px;text-align: center;border:none;}
.btnL{height: 68px;display: flex;align-items: center;justify-content: center;font-weight: bold;font-size:24px;;max-width: 100%;min-width: 220px;}
.btnM{height: 60px;display: flex;align-items: center;justify-content: center;font-weight: bold;font-size:18px;padding:0 20px;max-width:100%;}
.btnMS{height: 54px;display: flex;align-items: center;justify-content: center;font-weight: 700;font-size:16px;padding:0 20px;min-width: 166px;}
.btnS{height: 40px;display: flex;align-items: center;justify-content: center;font-weight: 700;font-size:16px;padding:0 25px;min-width: 80px;;}

    /* header */
    #header{width:100%;height:90px;background: white;position: fixed;left:0;top:0;z-index: 999;box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1);min-width: 1450px;}
    #header > div{display:flex;align-items: center;justify-content: space-between;height:100%;}

    #header .h_left{display: flex;align-items: center;}
    #header h1{margin-right:30px;}
    #header h1 a{height:100%;display: flex;align-items: center;}
    #header h1 img{max-height:38px;}
    #header .h_left form{width:400px;height:46px;border:2px solid var(--color-highlight);border-radius: 50px;background: white;;display:flex;align-items: center;overflow: hidden;}
    #header .h_left form input{height:100%;border:none;text-indent: 22px;color:black;width:calc(100% - 56px);font-size:16px;}
    #header .h_left form input::placeholder{color:var(--color-76)}
    #header .h_left form input:focus{outline: none;}
    #header .h_left form button{height:100%;border:none;width:28px;height:100%;background:transparent url(../img/icon-search.png) no-repeat 50%;background-size: 28px;padding:0 28px;}

    #header .h_right{display: flex;align-items: center;justify-content: right;}
    #header .h_right li{margin-left:26px;font-size:12px;color:var(--color-76);text-align: center;transition: 0.2s;}
    #header .h_right li:hover{color:var(--color-highlight);}
    #header .h_right li svg path{transition: 0.2s;}
    #header .h_right li:hover svg path{stroke: var(--color-highlight);}
    #header .h_right li + li{margin-left:26px;}
    #header .h_right li.h_mypage{display: none;}
    #header.login .h_right li.h_login{display: none;}
    #header.login .h_right li.h_mypage{display: block;}

    /* footer */
    #footer{padding:25px 0 65px;background: #f2f2f2;margin:100px auto 0;}
    #footer .f_top{padding:22px 0 21px;display: flex;align-items: center;justify-content: space-between;}
    #footer .f_menu{display: flex;align-items: center;justify-content: left;}
    #footer .f_menu li{font-size:14px;transition: 0.15s;}
    #footer .f_menu li:hover{color:#21BF48}
    #footer .f_menu li strong{font-weight: bold;}
    #footer .f_menu li + li{padding-left:15px;margin-left:15px;position: relative}
    #footer .f_menu li + li::before{content:"";display: block;width:1px;height:14px;background: black;position: absolute;left:0;top:50%;transform: translateY(-50%);}
    #footer .f_icon{display: flex;align-items: center;justify-content: right;}
    #footer .f_icon li:hover svg circle,
    #footer .f_icon li:hover svg rect{fill:var(--color-highlight);stroke: var(--color-highlight);}
    #footer .f_icon li + li{margin-left:14px;}

    #footer .f_info{border-top:1px solid var(--color-c4);padding-top:22px;font-size: 14px;color:var(--color-76);line-height: 1.9;}
    #footer .f_info h3{font-weight: bold;}
    #footer .f_info address{font-style: normal;}
    #footer .f_info address div span + span{padding-left:5px;margin-left:7px;position: relative}
    #footer .f_info address div span + span::before{content:"";display: block;width:1px;height:14px;background:var(--color-76);position: absolute;left:0;top:50%;transform: translateY(-50%);}

    /* 404 */










/* login --------------------------- */
#logWrap{margin:100px auto 0;max-width: 550px;}
#logWrap .log_title{margin:0 0 70px;text-align: center;}
#logWrap .log_title img{max-height: 74px;}

#logWrap article{_background: beige;}

#logWrap .log_tab ul{display: flex;align-items: flex-start;}
#logWrap .log_tab li{height:80px;flex:1;font-size:18px;font-weight: 700;color:black;text-align: center;border-radius: 10px 10px 0 0;background: #f2f2f2;border:1px solid var(--color-c4);overflow: hidden;}
#logWrap .log_tab li.active{z-index: 2;background: white;border-bottom: none;}
#logWrap .log_tab li.buyer.active{border-right: none;}
#logWrap .log_tab li.seller.active{border-left: none;}
#logWrap .log_tab li a{display: flex;align-items: center;justify-content: center;height: 60px;}

#logWrap fieldset{border: none;padding:35px;position: relative;top:-20px;background: white;border: 1px solid var(--color-c4);border-radius: 0 10px 10px 10px;z-index: 1;}
#logWrap fieldset.seller{border-radius: 10px 0 10px 10px;}
#logWrap fieldset .buyerLog{display: block;}
#logWrap fieldset .sellerLog{display: none;}
#logWrap fieldset.seller .buyerLog{display:none;}
#logWrap fieldset.seller .sellerLog{display: block;}

#logWrap fieldset label{margin:0 0 6px;display: block;}
#logWrap fieldset label.pw{margin:0 0 25px;}
#logWrap fieldset label input{width:100%;height:60px;border:none;font-size:16px;color:black;;border-bottom: 1px solid var(--color-c4);}
#logWrap fieldset label input::placeholder{color:var(--color-76);}
#logWrap fieldset label input:focus{outline: none;}
#logWrap fieldset label input:active{outline: none;border-color: var(--color-highlight);}
#logWrap fieldset .warning{color:var(--color-negative);font-weight: 700;font-size:16px;display: none;margin:0 0 -10px}
#logWrap fieldset .btnLogin{margin:35px 0 0;display: block;width: 100%;transition: 0.2s;}
#logWrap fieldset .btnLogin:hover{background: var(--color-76);}

#logWrap .log_info{margin:10px auto 0;display:flex;align-items: center;justify-content: center;}
#logWrap .log_info li{font-size:16px;color:#333333;transition: 0.2s;}
#logWrap .log_info li:hover{color:var(--color-highlight);}
#logWrap .log_info li + li{padding-left:14px;margin-left:15px;position: relative;}
#logWrap .log_info li + li:before{content:"";display: block;width:1px;height:14px;background:var(--color-76);position: absolute;left:0;top:50%;transform: translateY(-50%);}

/* Join ----------------------------- */ 










/* prdList -------------------------- */
.prdList_banner{margin:0 0 80px;}
.prd_swiper{overflow:hidden;position:relative}
.prd_swiper .prd_btn{position: absolute;top:50%;transform: translate(-50%,-50%);left:60px;background:url(../img/icon-swiper-1.svg) no-repeat 50%;width:60px;height:124px;z-index: 10;cursor: pointer;}
.prd_swiper .prd_btn.prd_btn_next{left:auto;right:0;background-image: url(../img/icon-swiper-2.svg);}
.prd_swiper .prd_pag{position: absolute;left:50%;bottom:20px;transform: translateX(-50%);z-index: 1;display: flex;align-items: center;justify-content: center;}
.prd_swiper .prd_pag .swiper-pagination-bullet{width:6px;height:6px;border-radius: 50%;margin:0 3px;background:white;transition: 0.2s;opacity: 1;}
.prd_swiper .prd_pag .swiper-pagination-bullet-active{background:black;}

.prdList_wrap .prdList{display:flex;flex-wrap: wrap;}
.prdList_wrap .prdList > li{width:calc((100% - 140px) / 3);margin:0 70px 78px 0;}
.prdList_wrap .prdList > li:nth-child(3n){margin:0 0 78px;}
.prdList_wrap .prdList > li .thumb{border:1px solid var(--color-c4);border-radius: 10px;overflow: hidden;display: block;position: relative;overflow: hidden;padding-bottom:100%;margin-bottom:15px;}
.prdList_wrap .prdList > li .thumb img{position: absolute;left:50%;top:0;transform: translateX(-50%) scale(1);min-width: 100%;min-height: 100%;transition: linear 0.15s;}
.prdList_wrap .prdList > li:hover .thumb img{transform:translateX(-50%) scale(1.05);}
.prdList_wrap .prdList > li .detail .info{font-size: 16px;color:var(--color-76);line-height: 1.2;}
.prdList_wrap .prdList > li .detail .name{font-size:18px;color:black;margin:10px 0;line-height: 1.4;}
.prdList_wrap .prdList > li .detail .price{font-size:16px;color:black;vertical-align: middle;display: flex;align-items: center;justify-content: left;}
.prdList_wrap .prdList > li .detail .price strong{font-size:24px;font-weight: bold;padding-right:3px;}

/* prdDetail ----------------------- */






/* cart ----------------------------- */







/* order --------------------------- */
